body
{
    background-color: rgb(13, 14, 14);
}
.card
{
    margin-top: 5%;
    display: inline-block;
    border-bottom: solid 2px rgb(253, 35, 35);
    border-top: solid 2px red;
    border-left: solid 2px red;
    border-right: solid 2px red;
    border-radius: 20px;
    font-style: italic;
    background-color:black;
    width: 29rem;
    height:20rem;
}
h1{
    height:20px;
    width:30rem;
    color:blue;
}
p{
    height:"20px";
    width:"30rem";
    color:white;
}